.navbar-logo{
    margin-right: 16px;
}

.navbar-position{
    position: fixed;
    width: 100%;
    z-index: 8;
}

.search-button{
    color: rgb(160, 160, 160);
    border: none;
    background: none;
    margin-top: 7px;
    margin-left: 2px;
    margin-right: 2px;
}

.search-button:hover{
    color: rgb(207, 207, 207);
    cursor: pointer;
}

.grey-overlap{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 7;
}

.search-container{
    display: flex;
    flex-direction: column;
    margin: 18%;
    margin-left: 38%;
    margin-right: 38%;
}

.search-head{
    color: white;
}

.search-card{
    height: 20vh;
    background: linear-gradient(180deg, #4b5935 20%, #938863 20%);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 20px black;
}


.search-form-text{
    color: white;
    margin-top: 5%;
    font-size: larger;
}

.search-form{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.search-input{
    width: 50%;
    height: 4vh;
    border-color: #d8d293;
    border-radius: 6px;
}

.search-button-container{
    display: flex;
    justify-content: flex-end;
}

.search-form-button{
    margin-left: auto;
    margin-right: 0;
    border: none;
    border-radius: 6px;
    outline: none;
    margin-top: 8px;
    background-color: #4f7e30;
    position: relative;
    color: white;
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    width: 35%;
    margin-top: 4%;
}

.search-form-button:hover{
    background-color: #578637;
    bottom: 1px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}

.search-form-button:active{
    top: 1px;
    background-color: #4f7e30;
    -webkit-box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,.5);
    box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,.5);
}