<div class="register-container">
    <div class="register-tab">Registration</div>
    <div class="register-card">
        <form class="register-form" (submit)="createUser(username,password,email,firstname,lastname,location,profilePic)">
            <div class="register-input">
                <input type="text" [(ngModel)]="username" placeholder="Username*" class="input-field"[ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="register-input">
                <input type="text" [(ngModel)]="password" placeholder="Password*" class="input-field"[ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="register-input">
                <input type="text" [(ngModel)]="firstname" placeholder="First Name" class="input-field"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="register-input">
                <input type="text" [(ngModel)]="lastname" placeholder="Last Name" class="input-field"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="register-input">
                <input type="text" [(ngModel)]="email" placeholder="Email" class="Address" class="input-field"[ngModelOptions]="{standalone: true}">
            </div>
            <div class="register-input">
                <input type="text" [(ngModel)]="location" placeholder="Location" class="input-field"[ngModelOptions]="{standalone: true}">
            </div>
            <div>
                Profile Picture:
                <input type="file" (change)="addFile($event)" id="fileInput"/>
                <img [src]="picture ? fileUrl : profilePic" alt="Profile Pics" id="profilePic">
            </div>
            <div id="register-submit">
                <div class="asterisk">*Required</div>
                <input type="submit" class="btn btn" value="Register">
            </div>
        </form>
    </div>
</div>